header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: yellow;
    img{
        width:100px ;
    }
    ul{
        list-style: none;
        display: flex;
        flex-direction: row;
        a{
            text-decoration: none;
        }
        li{
            margin: 10px;
        }
    }
}
body{
    background-color:rgb(227, 246, 255);
    margin: 0%;
}
.ContenedorMadre{
    img{
        width: 200px;
    }
}
footer{
    background-color:rgb(141, 203, 230);
    text-align: center;
}