header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:rgb(96, 114, 116);
    img{
        width:100px ;
    }
    ul{
        list-style: none;
        display: flex;
        flex-direction: row;
        a{
            text-decoration: none;
            color: white;
            font-family: "Bebas Neue", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 150%;
        }
        li{
            margin: 10px;
        }
    }
}
body{
    background-color:rgb(250, 238, 209);
    margin: 0%;
    text-align: center;
    position: relative;
    margin: 0;
    min-height: 100vh;
    h2{
        font-family: "Bebas Neue", sans-serif;
        font-weight: 400;
        font-style: normal; 
        font-size: 250%;
    }
    footer{
        text-align: center;
        position: relative;
        bottom: 0;
        width: 100%;
        padding: 20px 0;
    }
}
