body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('Imagenes/fondo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    background-color: #F2E7D5;
    width: 95%;
    height: 90%;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.left-container img {
    max-width: 100%;
    display: flex;
    align-items: flex-start;
}

.right-container {
    flex: 100%;
    border: 6px solid rgba(109, 152, 134, 0.5);
    background-color: #F7F7F7;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    height: 90%;

}

/* Estilo del chatbot */

#chat {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#header {
    text-align: center;
    margin-bottom: 20px;
}

#message-area {
    flex: 1; 
    max-height: 60%;
    overflow-y: auto;
    color: #393E46;
    font-family: 'Optima',

}

#input-area {
    margin-top: 20px;
    display: flex;

}

#textoEntrada {
    flex: 1;
    padding: 10px;
    border: 3px solid #6D9886;
    color: #393E46;
    border-radius: 50px;
    font-size: 16px;
    background-color: #F2E7D5;
}

#send-button {
    padding: 10px 20px;
    background-color: #6D9886;
    border: none;
    border-radius: 50px;
    color: #393E46;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
    background-color: #F2E7D5;
}

@keyframes pulse {
    0% {
        transform: scale(1); 
    }
    100% {
        transform: scale(1.05); 
    }
}


.message {
    margin-bottom: 10px;
    clear: both;
    overflow: auto;
}

.user-message {
    float: right;
    background-color: #F2E7D5;
    padding: 10px;
    border-radius: 25px;
    font-family: 'Optima',
}

.bot-message {
    float: left;
    background-color: #F2E7D5;
    padding: 10px;
    border-radius: 25px;
    font-family: 'Optima',
}